.product-box{
    position: relative;
    cursor: pointer;
}
.product-box::before{
    position: absolute;
    content: "";
    width:100%;
    height:100%;
    background-color:#ffffff98;
    left:0;
    top:0;
    transition:0.5s;
    opacity:0;
}
.product-box:hover::before{
    opacity:1;
}
.products-icon p{
    padding:10px 10px;
    border-radius:50%;
    background-color:#fff;
    transition:0.5s;
}
.products-icon p:hover{
    color:#fff;
    background-color:#1363DF;
}
.product-box .products-icon{
    transform:translateY(30px);
    opacity:0;
    transition:0.5s;
}
.product-box:hover .products-icon{
    transform:translateY(0px);
    opacity:1;
}