.syniEffect{
    position: relative;
    overflow: hidden;
}
.syniEffect::before{
    position: absolute;
    content: "";
    left:-100%;
    top:0;
    width:100%;
    height:100%;
    background:linear-gradient(90deg,transparent,rgba(255,255,255,0.4),transparent);
    transition:0.5s;

}
.card:hover .syniEffect::before{
    left:100%;
}

.arrow{
    font-size: 20px;
    padding:8px 8px;
    font-size:30px;
    border-radius:50%;
    background-color:#1365df1f;
    color:#1363DF;
    display:flex;
    position: absolute;
    border:2px solid #fff;
    transform:translateX(20px);
    transition:0.5s;
    top:200px;
    z-index:2;
    opacity:0;
}
.card-box:hover .arrow{
    transform: translateX(0);
    opacity:1;
}
.arrow:hover{
    background-color:#1363DF;
    color:#fff;
}
.arrow-prev{
    right:-18px;
}
.arrow-next{
    left:-18px;
}